/* Card Hotel */
.card-hotel:hover {
    background-color: #0ea5e9;
}
.card-hotel:hover a h5,
.card-hotel:hover a p,
.card-hotel:hover a span,
.card-hotel:hover a svg,
.card-hotel:hover a h6 {
    color: white !important;
}

.active {
    border-bottom: 2px solid white;
    font-weight: bold; /* Opsional: membuat teks lebih menonjol */
}


/* Stack Image */
.stacked-images {
    position: relative;
    display: inline-flex;
}
.stacked-images img:first-child {
    width: 200px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.stacked-images img:last-child {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-top: -35px;
    margin-left: -50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Service */
.service {
    background-color: #0ea5e9;
    color: white;
}

/* .hidden-tablet {
    display: none !important;
} */

@media (max-width: 768px) {
    /* body {
        background-color: red !important;
    } */

    #our-service .stacked-images {
        display: none !important;
    }
}
